.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --rec-color: transparent;
  --background-color: #fff1f7;
  --paragraph-text-color: #353430;
  --title-color: #ffc2e6;
  --shadow-color: #ff0070;
  --accent-color: #ff8dcb;
  --button-color: #353430;
  --main-text-color: #353430;
  --link-color: #ff8dcb;
  --button-hover-color: rgb(50 49 45 / 0.4);
  --section__title-color: #353430;
}

@media (prefers-color-scheme: light) {
  .theme-auto {
    --background-image: url(../images/cover-image-light.png);
    --rec-color: transparent;
    --background-color: #fff1f7;
    --paragraph-text-color: #353430;
    --title-color: #ffc2e6;
    --shadow-color: #ff0070;
    --accent-color: #ff8dcb;
    --button-color: #353430;
    --main-text-color: #353430;
    --link-color: #ff8dcb;
    --button-hover-color: rgb(50 49 45 / 0.4);
    --section__title-color: #353430;
  }
}

@media (width <= 768px) {
  .theme-light .header__title-text {
    --shadow-color: #ff8dcb;
  }

  .theme-auto .header__title-text {
    --shadow-color: #ff8dcb;
  }
}